body{
	font-family: helvetica;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.content{
  	position: relative;
	max-width: 900px;
	width: 90vw;
	height: 100%;
  	margin: auto;
}
.v-center{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}
.text-center{
	@extend .v-center;
	position: relative;
	margin: auto;
	width: 80%;
	text-align: center;
	h1,h2,h3,h4,h5,h6,h7,h8{
		margin: 0;
	}
}

.center{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}			
.a.left{
	left: 0;
	position: absolute;
}
.a.right{
	right: 0;
	position: absolute;
}
.f.left{
	float: left;
}
.f.right{
	float: right;
}
.text-right{
	width: 100%;
	text-align: right;
}

$dark-color: white !default;
$dark-shadow-color: #002952 !default;
$dark-background-color: #456 !default;
$dark-background-color-2: #678 !default;
.dark{
	color: $dark-color;
	.shadow{
		color: $dark-shadow-color;
	}
	&:nth-child(odd){
		background-color: $dark-background-color;
	}
	&:nth-child(even){
		background-color: $dark-background-color-2;
	}
}

$light-color: black !default;
$light-shadow-color: #6685A3  !default;
$light-background-color: #DEF !default;
$light-background-color-2: #BCD !default;
.light{
	color: $light-color;
	.shadow{
		color: $light-shadow-color;
	}
	&:nth-child(odd){
		background-color: $light-background-color;
	}
	&:nth-child(even){
		background-color: $light-background-color-2;
	}
}

h1,h2,h3,h4,h5,h6,h7,h8{
	font-weight: 200;
	&.left{
		text-align: left;
	}
	&.right{
		text-align: right;
	}
}

.circle{
	border-radius: 50%;
}

.black-plate{
	background-color: rgba(0,0,0,0.5);
	color: white;
}